.spinner {
  &__box {
    width: 100%;
    height: 100vh;

    @include flex-center;
  }
  &__spinner {
    height: 4.5rem;
    width: 4.5rem;
    fill: $color-primary;
    animation: spinner 2s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
