.pagination {
  &__card {
    width: 80%;
    margin: 3rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icons--box {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icons--prev,
  &__icons--next {
    font-size: 2.5rem;
    color: #fd7e14;
    cursor: pointer;

    &:hover {
      fill: #cb6512;
    }
  }

  &__icons--paragraph {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(37, 38, 38, 0.916);
  }

  &__buttons {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    & button {
      text-align: center;
      padding: 0.4rem 0.8rem;
      margin: 0 0.3rem 0.3rem 0.3rem;
      font-size: 1.1rem;
      font-weight: 500;
      background-color: #42403f;
      color: #ff9c4b;
      border-radius: 0.5rem;
      border: 0.2rem solid transparent;

      &:hover {
        border: 0.2rem solid #fd7e14;
        background-color: #467575;
      }

      &:focus {
        border: 0.2rem solid #fd7e14;
        color: #e38232;
        background-color: #fff;
      }
    }
  }
}

.not__allowed {
  cursor: not-allowed !important;
  color: #f3c19892 !important;
}

@media only screen and (max-width: 900px) {
  .pagination {
    &__card {
      width: 90%;
    }
    &__icons--box {
      flex-basis: 25%;
    }
    &__icons--prev,
    &__icons--next {
      font-size: 1.5rem;
    }

    &__icons--paragraph {
      font-size: 1.3rem;
      font-weight: 400;
    }

    &__buttons {
      flex-basis: 70%;

      & button {
        text-align: center;
        padding: 0.3rem 0.5rem;
        margin: 0 0.3rem 0.3rem 0.3rem;
        font-size: 1rem;
        font-weight: 400;

        border-radius: 0.3rem;
        border: 0.1rem solid transparent;

        &:hover {
          border: 0.1rem solid #fd7e14;
        }

        &:focus {
          border: 0.1rem solid #fd7e14;
        }
      }
    }
  }
}
