.dashboard {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: $line;
  }
  &__title {
    font-size: 2rem;
    font-weight: 500;
    color: $color-grey-dark-2;
    @media only screen and (max-width: 650px) {
      display: none;
    }
  }
  &__images {
    display: flex;

    & img {
      margin-right: 1rem;
    }
  }
}
