.table {
  margin: 3rem 2rem;
  width: 100%;
  border-bottom: 0.001rem solid rgba(168, 164, 164, 0.364);
}

.tr > th,
.tr > td {
  padding-bottom: 1rem;
}

.delete {
  cursor: pointer;
  font-size: 1.5rem;
  color: #62584d;
  transition: all 0.3s;
}
.delete:hover {
  color: #fd7e14;
  transform: scale(1.02);
}
.quantity {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.add {
  cursor: pointer;
  font-size: 1rem;
  color: #62584d;
  transition: all 0.3s;
}
.add:hover {
  color: #fd7e14;
  transform: scale(1.01);
}
