.payment__form {
  margin: 2rem auto;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .payment__form {
    margin: 6rem auto;
    width: 65%;
  }
}

@media only screen and (max-width: 650px) {
  .payment__form {
    margin: 6rem auto;
    width: 85%;
  }
}
