@media screen and (min-width: 451px) {
  .desktop {
    display: flex;
    visibility: visible;
  }
  .mobile {
    display: none;
  }
  .top {
    width: 100%;
    margin: 2.5rem 0 2rem;
    padding: 0 2.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .heading {
    /* flex-basis: 30%; */
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.4rem;
    background: linear-gradient(to right bottom, #ffc107, #fd7e14);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .search__box {
    flex-basis: 60%;
  }
  .table {
    margin: 3rem 0;
    width: 100%;
    border-bottom: 0.001rem solid rgba(168, 164, 164, 0.364);
    border-collapse: collapse;
    border-spacing: 0 0.2rem;
  }
  .tr {
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.452);
  }

  .th {
    text-align: center;
    padding-bottom: 1rem;
  }
  .td {
    text-align: center;
    padding: 0.7rem 0;
  }
  .span {
    display: flex;
    align-items: center;
  }
  .icon {
    margin-left: 0.3rem;
    fill: #000;
    height: 1.2rem;
    width: 1.2rem;
    transition: all 0.3s;
  }

  .icon:hover {
    fill: #fd7e14;
  }
  .select {
    width: 60%;
  }
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .h3 {
    margin: 2rem 0;
    font-weight: 600;
    font-size: 2.2rem;
    color: #fd7e14;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  .select {
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #fd7d1467;
    margin: 0.5rem 0 1.1rem 0;
    font-size: 1.1rem;
    font-weight: 300;
    width: 80%;
    background: #fff;
    color: #000;
  }
  .action {
    text-align: center;
    transition: all 0.3s;
    font-weight: bold;
    cursor: pointer;
    border: 0.07rem solid #fd7e14;
    border-radius: 1rem;
    padding: 0.2rem 0;
  }
  .action:hover {
    color: #fd7e14;
  }
}

/* Mobile view */
@media (max-width: 500px) {
  .desktop {
    display: none;
    visibility: hidden;
  }
  .mobile {
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .h3 {
    margin: 3rem 0 3rem;
    font-weight: 600;
    font-size: 2.2rem;
    color: #fd7e14;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  .ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .li {
    flex-basis: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    margin: 1rem 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 1rem;
  }

  .li > p {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 0.3rem 0;
  }
  .li > p > span {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #fd7e14;
  }

  .select {
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #fd7d1467;
    margin: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: 300;
    width: 70%;
    background: #fff;
    color: #000;
  }
}

/* Mobile view */
@media (max-width: 450px) {
  .li {
    flex-basis: 100%;
  }
}
