.shop {
  padding: 1rem 3rem;
  width: calc(100vw - 205px);
}
.top {
  width: 100%;
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading {
  flex-basis: 25%;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.4rem;
  background: linear-gradient(to right bottom, #ffc107, #fd7e14);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.search__box {
  flex-basis: 50%;
}
.btn__box {
  flex-basis: 15%;
  text-align: right;
}

.button {
  border-radius: 0.8rem;
  padding: 0.4rem 1.2rem;
  font-size: 1.2rem;
  background-color: #fff;
  color: #fd7e14;
  border: #fd7e14 1px solid;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background-color: #a54f08;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 900px) {
  .shop {
    width: 100vw;
  }
  .top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    font-size: 1.8rem;
  }
  .search__box {
    margin: 1.5rem;
    width: 100%;
  }
  .btn__box {
    flex-basis: 15%;
    text-align: right;
  }
}
