.shop {
  margin: 4rem 2rem;
  text-align: center;
}
.heading {
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  letter-spacing: 0.4rem;
  background: linear-gradient(to right bottom, #ffc107, #fd7e14);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.subheading {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin-bottom: 5rem;
  color: rgb(141, 138, 138);
  font-family: "Open Sans", sans-serif;
}
.total {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0 2.5rem;
  width: 100%;
  text-align: right;
}
.total > span {
  margin-left: 7rem;
  font-weight: 500;
  font-size: 2rem;
}
.btn__box {
  margin-top: 0.8rem;
  padding: 0 2.5rem;
  width: 100%;
  text-align: right;
}

.button {
  border-radius: 0.8rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.4rem;
  background-color: #fd7e14;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background-color: #a54f08;
  color: #fff;
  transform: translateY(0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
