@media screen and (min-width: 900px) {
  .desktop {
    display: flex;
    visibility: visible;
  }
  .mobile {
    display: none;
  }

  .table {
    margin: 3rem 0;
    width: 100%;
    border-bottom: 0.001rem solid rgba(168, 164, 164, 0.364);
  }
  .h3 {
    margin: 3rem 0 3rem;
    font-weight: 600;
    font-size: 2.2rem;
    color: #fd7e14;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  .tr > th,
  .tr > td {
    padding-bottom: 2rem;
  }

  .tr > th,
  .tr > td {
    padding-bottom: 1rem;
  }
  .th {
    text-align: center;
    padding-bottom: 1rem;
  }
  .td {
    text-align: center;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
  .shop {
    padding: 1rem 2rem;
  }
  .top {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .heading {
    flex-basis: 40%;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.4rem;
    background: linear-gradient(to right bottom, #ffc107, #fd7e14);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .search__box {
    flex-basis: 50%;
  }
}

/* Mobile view */
@media (max-width: 900px) {
  .desktop {
    display: none;
    visibility: hidden;
  }
  .mobile {
    display: flex;
  }
  .h3 {
    margin: 3rem 0 3rem;
    font-weight: 600;
    font-size: 2.2rem;
    color: #fd7e14;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  .ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .li {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 1rem;
  }
  .li > p {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0.6rem 0;
  }
  .li > p > span {
    margin-left: 1rem;
    letter-spacing: 0.003;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fd7e14;
  }
  .top {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .heading {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.4rem;
    background: linear-gradient(to right bottom, #ffc107, #fd7e14);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0 auto 2rem;
    text-align: center;
  }
  .search__box {
    width: 80%;
  }
}
.no__user {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.5rem;
}
@media screen and (max-width: 500px) {
  .li {
    width: 90%;
  }
}
